body {
    margin: 0;
  }
  
  .header {
      background-color: peachpuff;
      padding: 5px;
      text-align: right;
      font-size: 20px;
      font-family:'Trebuchet MS';
      font-weight: bolder;
    }
  
    /* Style the top navigation bar */
  .topnav {
      overflow: hidden;
      background-color: lightcoral;
      text-align: right;
    }
    
    /* Style the topnav links */
    .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: right;
      padding: 14px 16px;
      text-decoration: none;
      font-family: 'Trebuchet MS' ;
    }
    
    /* Change color on hover */
    .topnav a:hover {
      background-color: peachpuff;
      color: black;
    }
  
  
  
    .row {
      display: flex;
      flex-wrap: nowrap;
      margin: 20px;
      position: absolute;
  
    }
  
    .column{
        background-color: lightcoral;
        width: 30%;
        height: 625px;
        margin: 10px;
        text-align: center;
        font-family: 'Trebuchet MS';
        padding: 20px
    }
  
    #text{
      font-size: 20px;
      font-family:'Trebuchet MS';
      font: weight px;
    }
  
    .me {
      border-radius: 8px;
      border-style: solid;
      border-color: lightcoral;
    }
  
    .gaming{
      border-radius: 8px;
      border-style: solid;
      border-color: lightcoral;
  
    }
  
    .band{
      border-radius: 8px;
      border-style: solid;
      border-color: lightcoral;
  
    }
  
    footer {
      bottom: 0;
      left: 0;
      position: fixed;
      text-align: left;
      width: 100%;
      background-color: peachpuff;
    }
  